.reset-container {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.reset-card {
  width: 100%;
  max-width: 600px;
  padding: 2.5rem 4rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

h3 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon-wrapper input {
  padding-left: 2.5rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.8rem 0.9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 3rem;
  padding-left: 2.5rem;
}

.toggle-password {
  position: absolute;
  right: 0.79rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--faded-text);
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.error-message {
  color: var(--red);
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}

.forgot-password-group {
  display: flex;
  margin: 1.5rem 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

.forgot-password-group a {
  color: var(--dark-azure);
  text-decoration: none;
}

.reset-button {
  width: 100%;
  padding: 0.85rem;
  font-size: 1.2rem;
  background-color: var(--dark-azure);
  color: var(--text-primary);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.log-in {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.log-in label {
  padding: 2rem;
  font-size: 1.1rem;
  color: var(--faded-text);
}

.log-in a {
  text-decoration: none;
  color: var(--dark-azure);
  border: 2px solid var(--dark-azure);
  background-color: var(--bg-primary);
  border-radius: 10px;
  padding: 0.65rem 6rem;
}

@media (max-width: 600px) {
  .reset-container {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .reset-card {
    border: none;
    max-width: 100%;
    width: 100%;
    padding: 2rem 1rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  .input-icon {
    width: 15px;
    height: 15px;
  }

  .phone-code-select,
  .phone-input,
  input {
    font-size: 0.85rem;
  }

  label,
  .error-message {
    font-size: 0.95rem;
  }

  .reset-button,
  .log-in label {
    font-size: 1rem;
  }

  .log-in a {
    padding: 0.65rem 3rem;
  }
}
